.countDownBox {
    background-color: rgb(54, 107, 253);
    width: 40%;
    height: 400px;
    color: white;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: normal;
    border-radius: 4px;

}

button {
    border: 1px solid rgb(255, 255, 255);
    background: none;
    padding: 10px;
    width: 100px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 2em;
    transition: .3s;
}

button:hover {
    background-color: rgb(255, 149, 11);
    border: rgb(255, 149, 11);
}